.articleCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: "#fff";
  margin-bottom: 10px;
  padding: 16px;
  color: #000;
}

.articleCard__tags {
  display: flex;
  gap: 6px;
}

.articleCard__title {
  font-size: 20px;
  font-weight: bold;
}
