.articleCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: "#fff";
  margin-bottom: 10px;
  padding: 16px;
  color: #000;
}

.articleCard__header {
  display: flex;
  justify-content: space-between;
}

.articleCard__tags {
  display: flex;
  gap: 6px;
}

.articleCard__title {
  font-size: 20px;
  font-weight: bold;
}

.articleSource {
  font-size: 16px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 8px;
  letter-spacing: 0.1em;
}

.articleSource--qiita {
  background-color: #74c13a;
  color: white;
}

.articleSource--devto {
  background-color: black;
  color: white;
}
